# Logs
*.log
npm-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Node.js and Frontend Build Artifacts
frontend/node_modules/
node_modules/
dist/
dist-ssr/
*.local
.cache/

# Java/Maven/Gradle Build Artifacts
target/
build/
*.class
*.jar
*.war
*.ear
.mvn/wrapper/maven-wrapper.jar
.gradle/

# Sensitive Configuration
src/main/resources/application-secrets.properties
src/main/resources/application*.properties 

# Editor and IDE Files
.vscode/*
!.vscode/extensions.json
.idea/
*.iws
*.iml
*.ipr
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# NetBeans
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

# IntelliJ IDEA
/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml
/mavenHomeManager.xml

# Other
HELP.md